html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: rgb(0 0 0 / 50%);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(
    to bottom,
    rgb(114,114,186),
    rgb(170,232,232)
  );
  background-attachment: fixed;
}

header {
  color: rgb(0 0 0 / 50%);
}